<div class="popular-albums">
  <h2><%= t ".popular_albums" %></h2>
  <div class="popular-allbum">
    <div class="popular-allbum-pic">
      <%= link_to "#" do %>
        <%= image_tag "post3.jpg" %>
      <% end %>
    </div>
    <div class="popular-allbum-info">
      <h3><%= link_to t(".new_album"), "#" %></h3>
      <p><strong><%= t ".release_date" %></strong> <%= t ".date" %></p>
      <p><strong><%= t ".country" %></strong> <%= t ".uk" %></p>
      <p><strong><%= t ".casting" %></strong> <%= link_to "Donec", "#" %>,<%= link_to "varia", "#" %>,<%= link_to "mauris", "#" %></p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="popular-allbum">
    <div class="popular-allbum-pic">
      <%= link_to "#" do %>
        <%= image_tag "post2.jpg" %>
      <% end %>
    </div>
    <div class="popular-allbum-info">
      <h3><%= link_to t(".new_album"), "#" %></h3>
      <p><strong><%= t ".release_date" %></strong> <%= t ".date" %></p>
      <p><strong><%= t ".country" %></strong> <%= t ".uk" %></p>
      <p><strong><%= t ".casting" %></strong> <%= link_to "Donec", "#" %>,<%= link_to "varia", "#" %>,<%= link_to "mauris", "#" %></p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="popular-allbum">
    <div class="popular-allbum-pic">
      <%= link_to "#" do %>
        <%= image_tag "post1.jpg" %>
      <% end %>
    </div>
    <div class="popular-allbum-info">
      <h3><%= link_to t(".new_album"), "#" %></h3>
      <p><strong><%= t ".release_date" %></strong> <%= t ".date" %></p>
      <p><strong><%= t ".country" %></strong> <%= t ".uk" %></p>
      <p><strong><%= t ".casting" %></strong> <%= link_to "Donec", "#" %>,<%= link_to "varia", "#" %>,<%= link_to "mauris", "#" %></p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
