<div class="footer" style="clear: both">
  <div class="container">
    <div class="footer-grids">
      <div class="col-md-6">
        <div class="footer-grid">
          <h5><%= t ".about_music" %></h5>
          <p><%= t ".who_are_u" %></p>
          <p><%= t ".if_cant" %></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer-grid f-blog">
          <h5><%= t ".from_blog" %></h5>
          <div class="f-blog-artical">
            <p><%= t ".cham" %></p>
            <span><%= t ".date" %></span>
          </div>
          <div class="f-blog-artical f-blog-artical1">
            <p><%= t ".comeback" %></p>
            <span><%= t ".date" %></span>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="copy-right">
  <div class="container">
    <p><%= t ".design_by" %> <%= link_to t(".w3"), Settings.footer.w3layout %> <%= t ".two_dev" %></p>
  </div>
</div>
